<div>
    You have finished this user study.
    Thanks for your participation!
</div>

<div *ngFor="let metric of metrics">
    <div *ngIf="metric">
        <div>Sentence: {{ metric.sentence}} Translation: {{ metric.translation }}</div>
        <div>Events:</div>

        <div *ngFor="let event of metric.events">
            <span>{{ event.time + '|' + event.type + '|' + event.val }}</span>
        </div>

        <br>
    </div>
</div>
<div *ngFor="let question of objectKey(survey)">
    {{ question  + ':' + survey[question]}}
</div>

