.document-item:hover {
    background-color: lightgray;
}

.active-document {
    background: lightgray;
}

.ad-left {
    float: left;
}

.ad-right {
    float: right;
    margin-left: 10px;
}

.sentence:hover {
    background: #f3f2f2;
}

.active-sentence {
    background: #ffd891;
}