<mat-sidenav-container class="" style="min-height: 800px;">
    <mat-sidenav mode="side" opened style="min-width: 200px;">
        <mat-list>
            <form class="translation-form" style="padding-bottom: 10px; padding-left: 5px; padding-right: 5px;">
                <button style="width: 100%;" type="button" (click)="uploadClick()" mat-raised-button
                        color="accent">Upload
                    Document
                </button>
            </form>
            <mat-divider></mat-divider>
            <div *ngFor="let document of documents;">
                <mat-list-item [ngClass]="{'active-document': selectedDocument == document}" class="document-item"
                               (click)="onClick(document)"> {{
                    document.name }}
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="entire-thing" *ngIf="selectedDocument">

            <mat-card class="example-card" style="padding-top: 0px">

                <div *ngIf="showMetrics">
                    <app-sentences-vis *ngFor="let metric of metrics" [sentences]="selectedDocument.sentences"
                                       [(selectedSentence)]="selectedSentence"
                                       [metric]="metric.name"
                                       [color]="metric.color"
                                       [shortname]="metric.shortname"
                                       (onSort)="sortSentences($event[0], $event[1])">

                    </app-sentences-vis>
                </div>
                <div *ngIf="true">
                    <app-parallel-coordinates
                            [sentences]="allSentences"
                            (onSelectionChange)="onBrushSelectionChange($event)"
                            [selectedSentence]="selectedSentence">

                    </app-parallel-coordinates>
                </div>

                <h3 style="width:45%; display: inline-block;margin-left: 5px;margin-bottom: 0px;">Source</h3>
                <h3 style="width:45%; display: inline-block;margin-bottom: 0px;">Translation</h3>

                <mat-card-content id="document-scroll"
                                  style="text-align: left;overflow-y: scroll; height: 480px;">

                    <mat-progress-spinner *ngIf="loading" style="margin:auto;width:10px;height:10px;"
                                          class="example-margin"
                                          color="primary"
                                          [diameter]="40"
                                          mode="indeterminate">
                    </mat-progress-spinner>

                    <div *ngFor="let sentence of selectedDocument.sentences; let i = index;"
                         style=""
                         class=""
                         (mouseenter)="selectedSentence = sentence;">
                        <div class="sentence" style="padding-top: 5px;font-size: 13px; text-align: justify"
                             [ngClass]="{'active-sentence': selectedSentence == sentence}">
                            <span style="width: 45%;display:inline-block;vertical-align: top;">

                                <a style="text-decoration: none; color: black; vertical-align: middle;"
                                   [id]="'sentence-' + sentence.id"
                                   [routerLink]="['/document', selectedDocument.id, 'sentence', sentence.id]">
                                    {{sentence.source | textDisplay}}
                                </a>
                            </span>
                            <span style="width: 45%;display: inline-block; vertical-align: top;padding-left: 10px;">
                                <a style="text-decoration: none; color: black; vertical-align: middle;"
                                   [id]="'translation-sentence-' + sentence.id"
                                   [routerLink]="['/document', selectedDocument.id, 'sentence', sentence.id]">
                                    {{sentence.translation | textDisplay:true}}
                                </a>
                            </span>
                            <button style="" type="button"
                                    (click)="onSentenceClick(sentence)"
                                    mat-icon-button
                                    title="Mark translation as corrected">
                                <mat-icon [ngStyle]="{'color': sentence.corrected ? 'green' : 'lightgray'}">check_circle
                                </mat-icon>

                            </button>
                        </div>
                        <mat-divider [inset]="true"></mat-divider>
                    </div>
                </mat-card-content>

                <div>
                    <span>Corrected {{ correctedSentences }}</span>

                    <form class="example-form" style="display: inline;margin-left: 20px;">
                        <mat-checkbox (change)="onShowCorrected($event[0])" name="showCorrected"
                                      [(ngModel)]="showCorrected">Show corrected
                        </mat-checkbox>
                    </form>

                    <button type="button" style="float: right;" (click)="onRetrainClick()" mat-raised-button
                            color="primary">Retrain
                    </button>
                    <button type="button" style="float: right;margin-right: 10px;" (click)="onRetranslateClick()"
                            mat-raised-button
                            color="primary">Retranslation
                    </button>
                </div>

            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

