<mat-sidenav-container xmlns:display="http://www.w3.org/1999/xhtml">
    <mat-sidenav #sidenav mode="over" [(opened)]="sideOpened" style="width: 400px;">
        <div *ngFor="let sentence of documentSentences">
            <button style="" type="button"
                    mat-icon-button
                    title="Mark translation as corrected">
                <mat-icon [ngStyle]="{'color': sentence.corrected ? 'green' : 'lightgray'}">check_circle
                </mat-icon>
            </button>
            <div style="display: inline-block; width: 70%; vertical-align: middle;" class="side-sentence">
                <a style="text-decoration: none; color: black; vertical-align: middle;"
                   [id]="'sentence-' + sentence.id"
                   (click)="sideOpened=false"
                   [routerLink]="['/document', this.documentId, 'sentence', sentence.id]">
                    {{sentence.source}}
                </a>
            </div>
            <mat-divider></mat-divider>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <form class="translation-form">
            <mat-form-field class="example-full-width" style="width: 90%;">
                <textarea name="first" style="font-size: 13px;" rows="1" [(ngModel)]="inputSentence" matInput
                          placeholder="Source Sentence" value=""></textarea>
            </mat-form-field>
        </form>


        <div id="translation-box" style="display: inline-block;width: 1300px;overflow-x: auto;">

        </div>
        <div *ngIf="debug" style="display: inline-block; font-size:10px; max-width: 270px;">
            <h3>Time: {{ timeSpent }} s | Clicks: {{ clicks }} | Hovers: {{ hovers }} | Corrections: {{
                corrections }}</h3>
            <div *ngIf="objectKey(unkMap).length > 0">
                <h3>UNK Map</h3>
                <div *ngFor="let partial of objectKey(unkMap)">
                    <span style="float: left;">{{ partial + ':'}}</span>
                    <span style="font-weight: bold">{{ unkMap[partial] }}</span>
                </div>
            </div>
            <div *ngIf="objectKey(correctionMap).length > 0">
                <h3>Correction Map</h3>
                <div *ngFor="let partial of objectKey(correctionMap)">
                    <span style="float: left">{{ partial + ':'}}</span>
                    <span style="font-weight: bold">{{ correctionMap[partial] }}</span>
                </div>
            </div>
            <div *ngIf="objectKey(documentUnkMap).length > 0">
                <h3>Document UNK Map</h3>
                <div *ngFor="let partial of objectKey(documentUnkMap)">
                    <span style="float: left">{{ partial + ':'}}</span>
                    <span *ngFor="let word of documentUnkMap[partial]" style="font-weight: bold">
                    {{ word + ' | '}}
                </span>
                </div>
            </div>

        </div>
        <div *ngIf="showAttentionMatrix" id="attention-matrix">

        </div>

        <div>
            <div style="height: 420px; overflow-y: auto; margin-right: 10px;margin-top: 20px;display: inline-block;padding-right: 20px;vertical-align: top;float: left; margin-left: 100px;">
                <span style="font-weight: bold;">Attention View</span>

                <div style="text-align: left;font-size: 12px; max-height: 25px;"
                     *ngFor="let word of sentence;let i = index">
                    <div
                            style="display: inline-block; width: 70px; font-weight: bold;text-overflow: ellipsis;overflow: hidden">
                        {{ word }}
                    </div>
                    <mat-slider min="0" max="1" step="0.01" (change)="attentionChange($event, i)"
                                [(ngModel)]="beamAttention[i]"></mat-slider>
                </div>
            </div>
            <div style="display:inline-block; max-width: 1100px;float: left;margin-right: 50px;" id="tree">
                <div>
                    <form class="example-form">
                        <span style="font-weight: bold;margin-right: 30px;">Beam Search View</span>
                        <span style="font-weight: bold">Size</span>
                        <mat-form-field style="width: 50px;height: 20px;">
                            <input matInput [(ngModel)]="beamSize" (change)="beamSizeChange()" type="number"
                                   name="beamSize"
                                   value="3" min="1"
                                   max="10"
                                   placeholder=""
                                   style="text-align:center;">
                        </mat-form-field>
                        <span style="font-weight: bold">Length</span>
                        <mat-form-field style="width: 50px;height: 20px;">
                            <input matInput [(ngModel)]="beamLength" (change)="beamSizeChange()" type="number"
                                   name="beamLength"
                                   value="0.5" min="0"
                                   max="1"
                                   step="0.1"
                                   placeholder=""
                                   style="text-align:center;">
                        </mat-form-field>
                        <span style="font-weight: bold">Coverage</span>
                        <mat-form-field style="width: 50px;height: 20px;">
                            <input matInput [(ngModel)]="beamCoverage" (change)="beamSizeChange()"
                                   type="number"
                                   name="beamCoverage"
                                   value="0.5" min="0"
                                   max="1"
                                   step="0.1"
                                   placeholder=""
                                   style="text-align:center;">
                        </mat-form-field>
                        <button style="" type="button"
                                mat-icon-button
                                title="Mark translation as corrected">
                            <mat-icon (click)="showInfo()">info
                            </mat-icon>
                        </button>
                    </form>
                </div>
                <div class="zoom-buttons">
                    <button id="zoom-in" style="margin-top: 10px" type="button"
                            mat-icon-button
                            title="Mark translation as corrected">
                        <mat-icon>zoom_in
                        </mat-icon>

                    </button>
                    <button id="zoom-out" style="margin-top: 10px" type="button"
                            mat-icon-button
                            title="Mark translation as corrected">
                        <mat-icon>zoom_out
                        </mat-icon>

                    </button>
                </div>
            </div>
        </div>
        <form class="translation-form">
            <mat-form-field class="example-full-width" style="width: 82%;">
                <textarea name="translation" style="font-size: 14px;font-weight: bold;" rows="1" [ngModel]="translation.join(' ') | textDisplay: true " matInput
                          (ngModelChange)="onTranslationEdit($event)"
                          placeholder="Translation" value=""></textarea>
            </mat-form-field>
            <button style="background-color: green;" type="button"
                    (click)="onAcceptTranslation()"
                    mat-raised-button
                    color="primary">
                Accept
            </button>
            <button style="min-width: 100px;display:none" type="button" (click)="onClick()" mat-raised-button
                    color="primary">
                Translate
            </button>
            <mat-progress-spinner *ngIf="loading" style="margin:auto;width:10px;height:10px;"
                                  class="example-margin"
                                  color="primary"
                                  [diameter]="40"
                                  mode="indeterminate">
            </mat-progress-spinner>
        </form>
    </mat-sidenav-content>
</mat-sidenav-container>

