<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
        <form class="translation-form">
            <mat-form-field class="example-full-width">
                <input name="first" [(ngModel)]="inputSentence" matInput placeholder="German Sentence" value="">
            </mat-form-field>
            <button type="button" (click)="onClick()" mat-raised-button color="primary">Translate</button>
            <mat-progress-spinner *ngIf="loading" style="margin:auto;width:10px;height:10px;"
                                  class="example-margin"
                                  color="primary"
                                  [diameter]="40"
                                  mode="indeterminate">
            </mat-progress-spinner>
        </form>


        <div id="translation-box">

        </div>
        <div *ngIf="showAttentionMatrix" id="attention-matrix">

        </div>

        <div>
            <h2>Beam Search</h2>
            <div>
                <form class="example-form">
                    <mat-form-field class="min-width: 50px;">
                        <input matInput [(ngModel)]="beamSize" (change)="beamSizeChange($event)" type="number"
                               name="beamSize"
                               value="3" min="1"
                               max="10"
                               placeholder="Beam Size">
                    </mat-form-field>
                </form>
            </div>
            <div id="tree"></div>
            <h3>Adjust weights</h3>
            <div *ngIf="partial"> Partial Translation: <span style="font-weight: bold;">{{ partial }} </span>
            </div>

            <div style="padding-left: 700px;text-align: left" *ngFor="let word of sentence;let i = index">
                <div style="display: inline-block; min-width: 50px; font-weight: bold;">{{ word }}</div>
                <mat-slider min="0" max="1" step="0.01" (change)="attentionChange($event, i)"
                            [(ngModel)]="beamAttention[i]"></mat-slider>
            </div>

            <form class="change-attention">
                <button type="button" (click)="onAttentionChange()" mat-raised-button color="primary">Apply
                </button>
            </form>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>

