<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" [(opened)]="sideOpened" style="width: 400px;">
        <div *ngFor="let sentence of documentSentences">
            <button style="" type="button"
                    mat-icon-button
                    title="Mark translation as corrected">
                <mat-icon [ngStyle]="{'color': sentence.corrected ? 'green' : 'lightgray'}">check_circle
                </mat-icon>
            </button>
            <div style="display: inline-block; width: 70%; vertical-align: middle;" class="side-sentence">
                <a style="text-decoration: none; color: black; vertical-align: middle;"
                   [id]="'sentence-' + sentence.id"
                   (click)="sideOpened=false"
                   [routerLink]="['/document', this.documentId, 'sentence', sentence.id]">
                    {{sentence.source}}
                </a>
            </div>
            <mat-divider></mat-divider>
        </div>
    </mat-sidenav>

    <mat-sidenav-content style="min-height: 800px;">
        <form class="translation-form">
            <mat-form-field class="example-full-width" style="width: 82%;">
                <textarea (keydown)="onSourceKeydown($event)" rows="2" name="first" style="font-size: 14px;" [(ngModel)]="sentence" matInput
                          placeholder="German Sentence" value=""> </textarea>
            </mat-form-field>
        </form>

        <form class="example-form">
            <mat-form-field class="example-full-width" style="width: 82%;">
                <textarea (click)="onTranslationClick()" (ngModelChange)="onChange($event)" style="font-size: 14px;"
                          name="translation" matInput [(ngModel)]="translation"
                          (keydown)="onTargetKeydown($event)"
                          placeholder="Translation"></textarea>
            </mat-form-field>
        </form>

        <div>
            <button type="button" (click)="onClick()" mat-raised-button color="primary">Translate</button>
            <button style="background-color: green" type="button" (click)="onAcceptTranslation()" mat-raised-button
                    color="primary">
                Accept Translation
            </button>
            <mat-progress-spinner *ngIf="loading" style="margin:auto;width:10px;height:10px;"
                                  class="example-margin"
                                  color="primary"
                                  [diameter]="40"
                                  mode="indeterminate">
            </mat-progress-spinner>
        </div>

        <div style="margin-top: 10px;">
            <span>Clicks: {{ clicks }} | Keypresses: {{ keypresses }}</span>
            <span>Ctrl-C: {{ targetCopyCount }} | Ctrl-V: {{ targetPasteCount }} | Backspace: {{ backspaceCount }}</span>
        </div>

        <div *ngIf="debug" style="display: inline-block; font-size:10px; max-width: 270px;">
            <h3>Time: {{ timeSpent }} s | Clicks: {{ clicks }} | Hovers: {{ hovers }} | Corrections: {{
                corrections }}</h3>
            <div *ngIf="objectKey(unkMap).length > 0">
                <h3>UNK Map</h3>
                <div *ngFor="let partial of objectKey(unkMap)">
                    <span style="float: left;">{{ partial + ':'}}</span>
                    <span style="font-weight: bold">{{ unkMap[partial] }}</span>
                </div>
            </div>
            <div *ngIf="objectKey(correctionMap).length > 0">
                <h3>Correction Map</h3>
                <div *ngFor="let partial of objectKey(correctionMap)">
                    <span style="float: left">{{ partial + ':'}}</span>
                    <span style="font-weight: bold">{{ correctionMap[partial] }}</span>
                </div>
            </div>
            <div *ngIf="objectKey(documentUnkMap).length > 0">
                <h3>Document UNK Map</h3>
                <div *ngFor="let partial of objectKey(documentUnkMap)">
                    <span style="float: left">{{ partial + ':'}}</span>
                    <span *ngFor="let word of documentUnkMap[partial]" style="font-weight: bold">
                    {{ word + ' | '}}
                </span>
                </div>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

