/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

.node circle {
    fill: #fff;
    stroke: white;
    stroke-width: 3px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

circle:hover {
    stroke: gray;
}

.example-full-width {
    min-width: 500px;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.example-card {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:10px;
    margin-right: 10px;
}

.example-container {
    height: 1000px;
}

.attention-line {
    fill: none;
    stroke: lightgray;
    opacity: 0.7;
}

.attention-selected {
    stroke: #ff5010;
}

.word-box-source {
    fill: #5fc4ff;
}

.word-box-target {
    fill: #ffcc00;
}

#translation-box {
    font-size: 12px;
}

#translation-box text {
    pointer-events: none;
}

.sentence-bar {
    fill: orange;
}

.sentence-bar:hover {
    fill: red;
}